.main {
  min-width: 220px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0%;
}
input {
  border: 1px solid black;
  height: 5vh;
}
.dial-pad {
  display: grid;
  min-width: 220px;
  /* min-width: 120px; */
  min-height: 70vh;
  gap: 0rem;
  grid-template-columns: repeat(3, 1fr);
  border: 1px black solid;
}

.dial-pad button {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  border: 1px solid transparent;
  font-size: 2em;
  font-weight: bold;
  background-color: tomato;
  cursor: pointer;
  transition: border-color 0.25s;
}

.dial-pad button:hover {
  border-color: black;
}

.dial-pad button:focus,
.dial-pad button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dial-pad button:disabled {
  background-color: gray;
  color: darkslategray;
}
